<header>
	<div class="column row">
		<h1><%= t("views.pages.home.title") %></h1>

		<%= image_tag "logos/your_insider_zambia_logo-200x200.png" %>
	</div>
</header>









<!-- Newsletter signup -->
<div class="row">
	<div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns ">

		<div class="mailling-list-signup">

			<form action="//yourinsiderzambia.us13.list-manage.com/subscribe/post?u=c92c4ccfa627efb476da1bb1e&amp;id=2036588046" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

				<div id="mc_embed_signup_scroll">
					<h2>Subscribe to our mailing list</h2>

					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address </label>

						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>

					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c92c4ccfa627efb476da1bb1e_2036588046" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>

			</form>

		</div><!-- /.mailing-list-signup -->

	</div><!-- /.row -->
</div><!-- /Newsletter signup -->









<script type="text/javascript">
	$('#pages, body').vegas({
		delay: 20000,
		shuffle: true,
		timer: false,
		transitionDuration: 3000,
		slides: [
			{ src: "<%= asset_path "slides/slide-1.jpg" %>" },
			{ src: "<%= asset_path "slides/slide-2.jpg" %>" },
			{ src: "<%= asset_path "slides/slide-3.jpg" %>" },
			{ src: "<%= asset_path "slides/slide-4.jpg" %>" },
		]
	});
</script>
